<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102856012574-6i3j5nqrb2fjpvbrr0s019f6n5e5ru8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102856012574-6i3j5nqrb2fjpvbrr0s019f6n5e5ru8d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>102856012574-saj91s6eknb6ffsi6bpmdrjcqg1chihl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuPfaxhVsddJG1sqhawl8vXh3As43-_js</string>
	<key>GCM_SENDER_ID</key>
	<string>102856012574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-notifications-6365f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notifications-6365f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102856012574:ios:f827d11c2362bafe0f4f0f</string>
</dict>
</plist>